extends header
block content
    link(href="../css/detail.css",rel="stylesheet")
    //- 文件命名规则 例shopdetail-food-01 食品类 
    //-注释下商品名字(-------请填写------)
    //- 标题
    - var arrTitle=['今日推荐','阳光花坊（商城路店）'];
    //- 缩略图 每个索引图片地址以./img/文件夹名字/
    - var arrImage=['../img/life/35.jpg','../img/life/36.jpg','../img/life/37.jpg','../img/life/38.jpg',];
    //- 右侧区 mTitle:主标题 tel:电话 address:地址 intro:介绍 分类
    - var oGoods={title:{mTitle:'阳光花坊（商城路店）',tel:'13838321683',address:'河南省郑州市管城回族区商城路紫荆山路交叉口向东200米',intro:['生活服务','鲜花绿植']}}
    //- 商家信息
    //- 优惠信息
    - var salesCon='到店使用闪店付，全场9折（支持在线购买预订产品）';
    //-基本信息
    - var time='10:00-22:00,网络设施：提供wifi'
    //-特色
    - var special='品种多,价格优'
    //-商家简介
    - var shopIntro='阳光花卉，主营鲜花、绿植、花篮、鲜花布置等。专业的插花技师，包出精美漂亮的各色花束、花篮，如：亲情鲜花、恋情鲜花、求婚鲜花、生日鲜花、慰问鲜花、开业庆典花篮、酒店插花、台面花、家居用花、婚礼布置婚庆礼仪等。';
    //- 商品详情图片 图片地址以./img/文件夹名字/
    - var arrImageDetail=['../img/life/39.jpg','../img/life/40.jpg','../img/life/41.jpg','../img/life/42.jpg',];
    .goods-detail-title-wrapper
        .goods-detail-title
            a 首页
            |>
            a #{arrTitle[0]}
            |>
            a #{arrTitle[1]}
    .goods-detail-content.clearfix
        .left-small-piclist
            .sview-area
                div
                    img(src="#{arrImage[1]}")
                    .selecArea
                .show-select-area
            .show-goods-smalllist
                span.top-icon
                .goods-smalllist-box
                    ul.goods-smalllist.clearfix
                        li 
                            img(src="#{arrImage[0]}")
                        li 
                            img(src="#{arrImage[1]}")
                        li 
                            img(src="#{arrImage[2]}")
                        li 
                            img(src="#{arrImage[3]}")
                span.bottom-icon
            .view-video(style='display:none')
        .right-detail-box
            .goods-name
                h1 #{oGoods.title.mTitle}
                    span #{oGoods.title.subTitle}
            .summary
                ul
                    li.price
                        p 特卖价：
                            span.price-box ￥#{arrPrice[0]} 
                                em #{arrPrice[1]}
                                    i （#{arrPrice[2]}）     
                        p 活动：
                            img
                            span 该商品参与了公益宝贝计划，该商品参与了公益宝贝计划，该商品参与了公益宝贝计划，该商品参与了公益宝贝计划，
                    li.clearfix
                        dl
                            dt 规格：
                            dd 
                                each item in arrStandard
                                    a #{item}
                                
                    li.clearfix
                        dl 
                            dt 数量：
                            dd
            .choose-btns.clearfix
                a.buynow.buy-btn 立即购买
                a.addCar.buy-btn 加入购物车 
    //-商品详情页
    .goods-detail-image-area.clearfix
        .left-image-area-search
            .top-shop-name-area
                .shop-lng-lon 商家一号店
                .shop-btn-box
                    span 进店逛逛
                    em 收藏店铺
            .bottom-search-area
                .search-title 本店搜索
                form.form-search
                    .form-group
                        label 关键字
                        .form-item
                            input
                    .form-group
                        label 价格
                        .form-item
                            input.input-price 
                            |-
                            input.input-price
                    .form-group
                        label
                        button 搜索
        .right-image-area
            ul.tabbar-goods-detail
                li.selec-this 产品详情
                li 评论专区
                li 商家详情
            .show-goods-content
                .image-content-share
                    each item in arrImageDetail
                        .single-image-con
                            img(src='#{item}')                            
