doctype html
html
    head
        link(href='../css/reset.css',rel='stylesheet')
        link(href='../css/header.css',rel='stylesheet')
        script(src='../lib/js/jquery-1.12.4.min.js',type='text/javascript')
        script(src='../layer/layer.js',type='text/javascript')
        script(src='../js/detail.js',type='text/javascript')
    body(style="zoom:1.2;")
        header
            .wd-title-container
                ul.left-logo-name
                    li.wd-common-name
                        a(href="index.html") 万店联盟
                ul.right-menu-area
                    li.wd-login-reg
                        span
                            a 登录
                            ||
                        span
                            a 注册
                    li.wd-mye
                        a 我的e+
                    li.wd-myphone
                        a 我的手机e+
                    li.wd-focus-e
                        a 关注e+
                    li.wd-serve-cus
                        a 客服服务

            .wd-logo-container
                .logoImage
                    a
                        img(src='../img/header/logo.png')
                .wd-search-area
                    form.logo-search-form
                        input(class='search-text',type='text',placeholder='万店联盟搜索')
                        input(class='search-btn',type='button',value='搜索')
                    .hotwords
                        a 奶糖
                        a 红枣
                .wd-shoppinglist-small
                    .showshopping-con 去购物车结算
                        span (0)

        .wd-nav-area-bg
            ul.wd-nav-area
                - var navlist=[{id:'category',name:'分类'},{id:'111',name:'首页有惊喜'},{id:'food',name:'美食馆'},{id:'game',name:'休闲娱乐'},{id:'travel',name:'旅游出行'},{id:'hotel',name:'住宿'},{id:'life',name:'生活服务'},{id:'shopping',name:'购物'}];
                each item,index in navlist
                    if index==1
                        li.surprise
                            a #{item.name}
                    else 
                        li
                            a(href='\##{item.id}') #{item.name}
        block content 

        footer
            .foot-serve
                .foot-serve-top.clearfix(style="display:none")
                    .barcode
                    - var serCon1=['购物指南','购物流程','购物指南']; 
                    ul.serve
                        each item in serCon1
                            li #{item}
                    ul.serve
                        each item in serCon1
                            li #{item}
                    ul.serve
                        each item in serCon1
                            li #{item}
                .foot-serve-bottom
                    img(src='../img/footer.png')
            .foot-about-bg
                .foot-about   
                    - var footInfo=['©2017 e+.RIGHT','ICP备案号：豫ICP备15016705号-4',''];
                    each item in footInfo
                        a #{item}         