extends header
block content
    link(href="../css/shopdetail.css",rel="stylesheet")
    //- 文件命名规则 例shopdetail-food-01 食品类 
    //-注释下商品名字(-------请填写------)
    //- 标题
    - var arrTitle=['今日推荐','新科苹果数据'];
    //- 缩略图 每个索引图片地址以./img/文件夹名字/
    - var arrImage=['http://enclosure.wandlm.net/web_pic/2017/01/09/1483941252101.png'];
    //- 右侧区 mTitle:主标题 tel:电话 address:地址 intro:介绍 分类
    - var oGoods={title:{mTitle:'新科苹果数据线新科苹果数据线新科苹果数据线新科苹果数据线新科苹果数据线',tel:'13333333333',address:'河南省郑州市管城区紫荆山路与清真寺街交叉口',intro:['']}}
    //- 商家信息
    //- 优惠信息
    - var salesCon='';
    //-基本信息
    - var time='10:00-22:00'
    //-特色
    - var special=''
    //-商家简介
    - var shopIntro='火锅，古称“古董羹”，因食物投入沸水时发出的“咕咚”声而得名，它是中国独创的美食，历史悠久，是一种老少皆宜的食物。据考证，战国时期即有火锅，时人以陶罐为锅，到宋代，火锅的吃法在民间已十分常见，南宋林洪的《山家清供》食谱中，便有同友人吃火锅的介绍。元代，火锅流传到蒙古一带，用来煮牛羊肉。到清代，火锅不仅在民间流行，而且成了一道著名的“宫廷菜”，用料是山鸡等野味。';
    //- 商品详情图片 图片地址以./img/文件夹名字/
    - var arrImageDetail=['http://enclosure.wandlm.net/web_pic/2017/01/09/1483941252101.png','http://enclosure.wandlm.net/web_pic/2017/01/09/1483941252101.png'];
    .goods-detail-title-wrapper
        .goods-detail-title
            a 首页
            |>
            a #{arrTitle[0]}
            |>
            a #{arrTitle[1]}
    .goods-detail-content-bg
        .goods-detail-content.clearfix
            .left-small-piclist
                .sview-area
                    div
                        img(src="#{arrImage[0]}")
                        .selecArea
                    .show-select-area
                .show-goods-smalllist

                .view-video(style='display:none')
            .right-detail-box
                .goods-name
                    h1 #{oGoods.title.mTitle}
                        span #{oGoods.title.tel}
                .summary
                    ul
                        li.tel #{oGoods.title.tel}
                        li.address #{oGoods.title.address}
                        li.spec #{oGoods.title.intro}

 
    //-商品详情页
    .goods-detail-image-area.clearfix
        .left-image-area
            ul.tabbar-goods-detail
                li.selec-this 产品详情
                li 评论专区
                li 商家详情
            .show-goods-content
                .special-title
                    h3
                        span 会员特惠
                .special-title
                    h3
                        span 基本信息
                .special-title
                    h3
                        span 商家简介
                p.text-lh-20 #{shopIntro}
                .special-title
                    h3
                        span 商家图片
                .image-content-share
                    .image-content-box
                         each item inarrImageDetail
                            .single-image-con
                                img(src="#{item}")
                .special-title
                    h3
                        span 消费评价
                .evaluate-box
                    .top-point-area
        .right-image-area-search
            .top-shop-name-area
                .shop-lng-lon 商家一号店
                .shop-btn-box
                    span 进店逛逛
                    em 收藏店铺
            .bottom-search-area1

                
                                   
