doctype html
html
    head
        link(href='../css/reset.css',rel='stylesheet')
        link(href='../css/header.css',rel='stylesheet')
        link(href='../iconfont/iconfont.css',rel='stylesheet')
        script(src='../js/lib/vue2.min.js',type='text/javascript')
        script(src='../js/lib/vue-resource.min.js',type='text/javascript')
        script(src='../js/lib/vue-resource.min.js',type='text/javascript')
        
    body
        .container-head
            header
                .wd-title-bg
                    .wd-title-container
                        ul.left-logo-name
                            li.wd-common-name
                                a(href="index.html")
                                    i.iconfont.icon-dingwei(style="color:#f00;")
                                    span 郑州
                            li.wd-common-login
                             a 请登录
                        ul.right-menu-area
                            li.wd-mye
                                a 我的e+便利
                                | |
                            li.wd-my-order
                                a 我的订单
                            li.wd-business
                                a 招商
                            li.wd-help-center
                                a 帮助中心
                            li.wd-serve-cus
                                a 联系客服
                            li.nav-website
                                a 网站导航
                            li.phone-alliance
                                a 手机异业联盟

                .wd-logo-container
                    .logoImage
                        a
                            img(src='../img/header/logo.png')
                    .wd-search-area
                        .tab-shop-goods
                            .tab-item.active 商品
                            .tab-item 商家
                        form.logo-search-form
                            input(class='search-text',type='text',placeholder='万店联盟搜索')
                            input(class='search-btn',type='button',value='搜索')
                        .hotwords
                            a 奶糖
                            a 红枣
            .wd-nav-area-bg
                ul.wd-nav-area
                    - var navlist=[{id:'category',name:'全部分类'},{id:'111',name:'首页'},{id:'food',name:'美食'},{id:'game',name:'休闲娱乐'},{id:'travel',name:'旅游出行'},{id:'hotel',name:'住宿'},{id:'life',name:'生活服务'},{id:'shopping',name:'同城便利'}];
                    each item,index in navlist
                        if index==0
                            li.all-category 
                                a.allcat #{item.name}
                                dl.menuList
                                    block menulist
                                        dd
                                            a.mainTitle 美食
                                            p 
                                                a 精选品牌
                                                a 小吃快餐
                                    block menulist
                                    block menulist
                                    block menulist
                                    block menulist
                        else 
                            li
                                a(href='\##{item.id}') #{item.name}
        script(src='../js/index.js',type='text/javascript')
        block content 

        footer
            .foot-serve
                .foot-serve-top.clearfix(style="display:none")
                    .barcode
                    - var serCon1=['购物指南','购物流程','购物指南']; 
                    ul.serve
                        each item in serCon1
                            li #{item}
                    ul.serve
                        each item in serCon1
                            li #{item}
                    ul.serve
                        each item in serCon1
                            li #{item}
                .foot-serve-bottom
                    img(src='../img/footer.png')
            .foot-about-bg
                .foot-about   
                    - var footInfo=['©2017 e+.RIGHT','ICP备案号：豫ICP备15016705号-4',''];
                    each item in footInfo
                        a #{item}         